<h4>Dear Customer,</h4>
<h4>Thank you for using Flux CDA application by Indusind Bank. The details of the Charges for the month <month and year>
        can be found in attachment.
</h4>
<p>Charge Summary:</p>

<p>Utility Code:<%= details.utilityCode %></p>
<p>Bill Number:<%= details.billNumber %></p>
<p>Total Amount Due:<%= details.finalTotalAmount %></p>
<p>Bill Date:<%= details.billDate %></p>

<h4>Thank You,
</h4>
<h4>Indusind Bank
</h4>