<p>Dear Customer,<br/>
    <br/>
This is to bring to your notice, that the payment collection against the Bill number <%= details.billNumber %> for the amount of Rs <%= details.finalTotalAmount %> for the month of <%= details.billPeriod %> failed.<br/>
<br/>
Request you to arrange the funds and get in touch with us.
<br/>
<br/>
Thank You,
<br/>
Indusind Bank<br/>
</p>